{{- define "ruler.ingress" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    haproxy.org/auth-secret: basic-auth
    haproxy.org/auth-type: basic-auth
    haproxy.org/auth-realm: Authentication Required
  name: {{ .Values.user }}-thanos-ruler
spec:
  ingressClassName: haproxy
  rules:
  - host: {{ .Values.user }}-thanos-ruler.training.cluster.acend.ch
    http:
      paths:
      - backend:
          service:
            name: thanos-ruler-operated
            port:
              number: 10902
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - {{ .Values.user }}-thanos-ruler.training.cluster.acend.ch
    secretName: acend-wildcard
{{- end }}