{{- define "prometheus.ingress" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    haproxy.org/auth-secret: basic-auth
    haproxy.org/auth-type: basic-auth
    haproxy.org/auth-realm: Authentication Required
  labels:
    app.kubernetes.io/name: {{ .Values.user }}-prometheus
  name: {{ .Values.user }}-prometheus
spec:
  ingressClassName: haproxy
  rules:
  - host: {{ .Values.user }}-prometheus.training.cluster.acend.ch
    http:
      paths:
      - backend:
          service:
            name: prometheus-operated
            port:
              number: 9090
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - {{ .Values.user }}-prometheus.training.cluster.acend.ch
    secretName: acend-wildcard
{{- end }}