apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    haproxy.org/auth-secret: basic-auth
    haproxy.org/auth-type: basic-auth
    haproxy.org/auth-realm: Authentication Required
  labels:
    app.kubernetes.io/name: {{ .Values.user }}-thanos
  name: {{ .Values.user }}-thanos
spec:
  ingressClassName: haproxy
  rules:
  - host: {{ .Values.user }}-thanos-query.training.cluster.acend.ch
    http:
      paths:
      - backend:
          service:
            name: thanos-query
            port:
              number: 10902
        path: /
        pathType: ImplementationSpecific
  tls:
  - hosts:
    - {{ .Values.user }}-thanos-query.training.cluster.acend.ch
    secretName: acend-wildcard
